/*
  These are styles for the actual tandem application UX.
  
*/

@import "variables";


.tandem_content:hover {
  outline: 1px solid $midblue;
}
.tandem_toolbar {
  position: absolute;
  margin: 10px 5px;
  display: none;
  background: none;  
  font-size: 13px;
  @include goo;
}
a.tandem_edit_link,
a.tandem_edit_link:active,
a.tandem_edit_link:visited {
  font-size: 13px;
  @include goo;  
  color: #333;
  background: $lightblue;
  padding: 5px 10px;
  text-decoration: none;    
  text-transform: uppercase;
  @include radius(3px);
  box-shadow: 0px 0px 5px #333;
  &:hover {
    color: #fff !important;
    background: $darkblue;
  }
}

#tandem_page_links {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 900;
  width: 100%;
  background: #333;
  margin: 0;  
  padding: 10px;  
  text-align: right;
  box-shadow: 0px 0px 8px #000;
  border-top: 1px solid $darkblue;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter:alpha(opacity=90);
  li {
    display: inline;    
    padding: 0 20px;
    a, a:active, a:visited {
     color: #fff;
     text-decoration: none; 
     &:hover {color: $darkblue;}
    }
  }
}

/////// Tandem Editor
h4.tandem-logo {
  font-size: 12px;
  text-align:right;
  position: relative;
  right: 0;
  @include goo;
  color: $midblue;
  font-weight: none;
  height: 33px;
  margin: 10px 0;
  font-weight: normal;
  text-shadow: none;
  background: transparent url(image_path('tandem/tandem_logo.png')) 100% 0 no-repeat;
  text-indent: -9999px;	
}


/////// Contents, Page, & Image Editor

#tandem-editor {
  h1.tandem-title {
    font-size: 18px;
    @include goo;
    color: $darkblue;
    font-weight: none;
    margin: 10px 0;
  }
  h3#selected_image_title {
    font-size: 18px;
    @include goo;
    color: $darkblue;
    font-weight: none;
    margin: 10px 0;
  }
  iframe{
    border:none;
    height: 100%;
  }
  a.use {
    font-size: 15px; 
    color: $darkblue;
  }
  form {
    div {
      padding: 5px;
    }
    div.field_with_errors {
      padding:0;
      label {padding: 0;}
      input {
        background: #fdeeee;
      }
    }
    label {
      @include goo;
      color: $darkblue;
      width: 100px;
      padding: 3px 0;
      text-align: left;
      font-size: 14px;
      margin-left: 10px;  
      display:block;
      float: left;
    }
    input, textarea {
      border: 1px solid #ccc;
      @include radius(3px);
      box-shadow: 0 0 5px #aaa;
      padding: 5px;
    }
    .field {
      margin: 3px 0;
      @include goo;
    }
    .field span {
      font-size: 14px;
      color: $darkblue;
      padding-right: 10px;
    }
   .wym_box {
     background: none;
     border:none;
     border-bottom: 1px solid #eee;
   } 
   .wym_iframe {
     background: #fff;
     border: 1px solid #ccc;     
   }
   .wym_skin_default .wym_iframe iframe {border:none;}
   iframe .wym_iframe {background: transparent; border:none;}
  } // end form
  .wym_section {
    background: none;
    h2 {
      background: none;
      border: 1px solid $darkblue;      
      @include goo;
      border: none;
      padding: 0;
      margin: 0;
    }
    ul {
      border: none;
    }
    a {
      @include goo;
      color: $darkblue;    
      padding: 3px 5px;  
    }
    border:none;
    padding: 2px 3px;    
  } // end wym-section
  .actions {
    margin: 15px 10px;    
    input.wymupdate,input.save {
      background: $lightblue;
      color: $darkblue;
      font-size: 16px;
      @include radius(3px);
      border: 1px solid $midblue;
      cursor: pointer;
      &:hover {color: #fff;background: $darkblue;}      
    }      
  } // end actions  
  #error_explanation {
    @include errors;
  }
} // end tandem editor


/// Image Upload Modal

h3.tandem-mod-title {
  font-size: 15px;
  @include goo;
  color: $darkblue;
  font-weight: normal;
  margin: 10px 0;
}
div#tandem-image-editor {

}
#tandem-image-editor div#gallery-image {
width: 100%;
padding: 0;
margin: 0;
iframe {
	width: 90%;
	padding: 0;
	margin :0;
  overflow: visible;		
}
  h3 {
    font-size: 15px;
    @include goo;
    color: $darkblue;
    font-weight: normal;
    margin: 10px 0;
  }
}
//div#current-image {
//  width: 49%;
//  float: left;
//  h3 {
//    font-size: 15px;
//    @include goo;
//    color: $darkblue;
//    font-weight: none;
//    margin: 10px 0;
//  }
//}
#tandem-upload-image {
  background: $lightblue;
  padding: 5px 15px;
  margin: 10px 0;
  @include goo;  
  #error_explanation {
    @include errors;
  }
}

/// Tandem Gallery

.tandem-gallery {
  img {
    border: 5px solid $lightblue;
  }
  ul { 
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid $lightblue;
      position: relative;
      padding: 10px 5px 8px 5px;
      &.chosen {background: #f9fcfd;}
    ul.actions {
      border-bottom: none;
      li {
        position: absolute;
        top: 0;
        right: 0;        
        display: inline;
        border-bottom: none;   
        padding: 5px 0;    
        margin: 5px 0; 
          a, a:active, a:visited {
            font-size: 14px;
            color: $darkblue;
            padding: 2px 0;
            @include goo;
            text-decoration: none;
            padding: 0 5px;
          }
          a.delete {color: $red;}
          a:hover {color: $midblue;}
        }
      }
    }
  }
  .thumb {
    max-width: 50px;
    max-height: 50px;
    overflow: hidden;
    border: 5px solid $lightblue;    
  }
}// end tandem gallery


/// Colorbox Overwrites

#cboxTitle{
  display: none !important;
  text-transform: capitalize;
  text-align:center; 
  width:100%; 
  font-size: 18px;
  @include goo;
  color: $highblue;
  font-weight: none;
}
#cboxOverlay {
  background: #333;
}
#cboxClose {
  @include goo;
  color: $darkblue;
  font-size: 13px;
}

/// Advanced Settings

#tandem_advanced_settings {
  margin: 45px 0 15px 0;
  a {
    font-size: 15px;
    display: block;
    margin: 10px;
    color: $darkblue;
    text-decoration: none;
    @include goo;
  }
}


/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
  
