// Varibles for Tandem UX

@import url(http://fonts.googleapis.com/css?family=Glegoo);

@mixin goo {
  font-family: 'Glegoo', serif;
}

@mixin radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin errors {
  background: $midblue;
  padding: 5px;
  margin-bottom: 5px;
  h2 {
    font-size: 15px;
    @include goo;
    color: #fff;        
    font-weight: normal;
  }
  ul {
    li {
    color: #fff;
    font-size: 13px;
    }
  }
}
$lightblue: #E8F3F8;
$lowblue: #DBE6EC;
$midblue: #C2CBCE;
$highblue: #A4BCC2;
$darkblue: #81A8B8;
$red: #660000;