// Varibles for Tandem UX

@font-face {
  font-family: 'Glegoo';
  src: asset-url('tandem/fonts/glegoo-regular-webfont.eot', font);
  src: asset-url('tandem/fonts/glegoo-regular-webfont.eot?#iefix', font) format('embedded-opentype'),
       asset-url('tandem/fonts/glegoo-regular-webfont.woff', font) format('woff'),
       asset-url('tandem/fonts/glegoo-regular-webfont.ttf', font) format('truetype'),
       asset-url('tandem/fonts/glegoo-regular-webfont.svg#GlegooRegular', font) format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin goo {
  font-family: 'Glegoo', serif;
  font-weight: 300;
  text-transform: inherit;
  font-size: 15px;
  font-style: normal;
}
@mixin sans-serif {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
  font-style: normal;
}

@mixin radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin errors {
  background: $lightblue;
  padding: 5px;
  margin: 5px 0;
  h1, h2 {
    font-size: 18px;
    @include goo;
    color: $darkblue;        
    font-weight: normal;
    margin-left: 15px;
  }
  ul {
    li {
    color: $darkblue;
    font-size: 13px;
    margin: 7px 0;
    }
  }
}
$lightblue: #E8F3F8;
$lowblue: #DBE6EC;
$midblue: #C2CBCE;
$highblue: #A4BCC2;
$darkblue: #81A8B8;
$red: #660000;