<!DOCTYPE html>
<html>
<head>
  <title>Tandem Image Gallery</title>
  <%= stylesheet_link_tag    "tandem" %>
  <%= javascript_include_tag "tandem" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
